.custom-welcome-panel {
	background-color: #eef4f9;
	margin: 2rem 1rem 2rem 0;
	border-color: #7cbeee;
}
.welcome-banner {
	height: 3rem;
	width: 100%;
	background-image: url('img/banner.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.welcome-content {
	padding: .5rem 1.5rem 1rem;
}
.welcome-content h3.header span {
	opacity: .7;
}
.welcome-content .about-description {
	max-width: 800px;
}
.welcome-cols .column {
	margin-bottom: 1rem;
}
.custom-welcome-panel li {
	list-style-type: disc;
	margin-left: 1rem;
}
@media only screen and (min-width: 750px) {
	.welcome-cols {
		display: flex;
		flex-direction: row;
	}
	.welcome-cols .column {
		flex: 1;
		margin-bottom: 0;
		margin-right: 1%;
	}
}

.welcome-content hr {
	height: 1px;
	border: initial;
	background: rgba(0,0,0,.1);
	margin-bottom: 1rem;
}

.welcome-content .disclaimer p {
	margin: 0;
	font-size: 90%;
	opacity: .7;
}

.welcome-content .disclaimer a {
	color: inherit;
}

.uri-admin-wp-updates-footer {
	border-top: 1px solid #f0f0f1;
	color: #dcdcde;
	margin: 12px -11px 0;
	padding: 6px 12px 0;
}

.custom-notice {
	margin-top: 4rem;
	border-width: 1px;
	border-style: solid;
	border-left-width: 1rem;
}

.custom-notice hr {
	margin: 1rem 0;
}

.custom-notice h2 {
	font-size: 1.2rem;
}

.custom-notice h3 {
	font-size: .9rem;
	margin: 0 0 .3rem;
}

.custom-notice p {
	max-width: 900px;
	margin: 0 0 .5rem;
}

.notice-green {
	background-color: #fff;
	padding: 1rem 1.5rem;
	margin: 2rem 1rem 2rem 0;
	border-color: green;
}

.notice-yellow {
	background-color: #fff;
	padding: 1rem 1.5rem;
	margin: 2rem 1rem 2rem 0;
	border-color: rgb(216, 181, 26);
}

.notice-red {
	background-color: #fff;
	padding: 1rem 1.5rem;
	margin: 2rem 1rem 2rem 0;
	border-color: rgb(164, 26, 26);
}

.notice-none {
	background-color: #fff;
	padding: 1rem 1.5rem;
	margin: 2rem 1rem 2rem 0;
	border: none;
}